{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>pretest</title>
</head>

<body>
  {%block content%}
  <div class="title-pretest d-flex">
    แบบทดสอบก่อนเรียน
  </div>
  <div class="test-container">
    <div class="test-title">
      1. นิวเมติกส์มีความหมายตรงกับข้อใด
    </div>
    <div class="test-choice">
      <div class="choice-container">
        <input type="radio" name="q1" value="ก" class="choice-input">ก. ระบบที่ใช้อากาศอัดส่งไปตามท่อลมเพื่อถ่ายทอดกำลังของไหลให้เป็นกำลังงานกล<br>
      </div>
      <div class="choice-container">
        <input type="radio" name="q1" value="ข" class="choice-input">ข. ระบบที่ใช้น้ำควบคุมเพื่อเป็นตัวกลางในการทำงาน<br>
      </div>
      <div class="choice-container">
        <input type="radio" name="q1" value="ค" class="choice-input">ค. ระบบที่ควบคุมโดยน้ำมันเพื่อเหมาะสมสำหรับงานที่ใช้แรงดันสูงๆ<br>
      </div>
      <div class="choice-container">
        <input type="radio" name="q1" value="ง" class="choice-input">ง. ระบบที่นำเอาไฟฟ้าเข้ามาช่วยในการทำงาน<br>
      </div>
      <div class="choice-container">
        <input type="radio" name="q1" value="จ" class="choice-input">จ. ระบบที่ใช้พลังงานจากไอน้ำมาเป็นตัวขับเคลื่อนในการทำงาน<br>
      </div>
    </div>
  </div>
</body>
<script>



</script>

</html>
{% endblock %}