{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Unit1</title>
{% endblock %}
  
{% block content %}
<style>
.teamsitems{
    padding: 2rem;
    background: #CDF5FD;
    height: 50;
}

.teams-items {
    padding: 2rem;
    background: #FBF9F1;
}

.min {
    padding: 2rem;
    background: #FBF9F1;
}

.aa {
    padding: 2rem;
    background: #FBF9F1;
}

.bb {
    padding: 2rem;
    background: #FBF9F1;
}

.cc {
    padding: 2rem;
    background: #FBF9F1;
}

.dd {
    padding: 2rem;
    background: #FBF9F1;
}

.ee {
    padding: 2rem;
    background: #FBF9F1;
}

.ff {
    padding: 2rem;
    background: #FBF9F1;
}

.gg {
    padding: 2rem;
    background: #FBF9F1;
}

.hh {
    padding: 2rem;
    background: #FBF9F1;
}

.ii {
    padding: 2rem;
    background: #FBF9F1;
}

.jj {
    padding: 2rem;
    background: #FBF9F1;
}

.kk {
    padding: 2rem;
    background: #FBF9F1;
}

.ll {
    padding: 2rem;
    background: #FBF9F1;
}

.mm {
    padding: 2rem;
    background: #FBF9F1;
}

.img {
    margin: auto auto;
    display: block;
}

.concept img {
    margin: auto auto;
    display: block;
}

.content img {
    margin: auto auto;
    display: block;
}

.rr {
    background: #FBF9F1
}
</style>

<div class="container">
    <section class="teams">
        <div class="teamsitems">
            <h3><font size="10">หน่วยที่ 1 อุปกรณ์นิวเมติกส์</font></h3>
            <p><font size="4">ระบบนิวเมติกส์ หมายถึง ระบบการส่งถ่ายกำลังโดยอาศัยความดันลมเป็นตัวกลางในการส่งถ่ายกำลัง<br>
                โดยมีอุปกรณ์การทำงานชนิดต่างๆ เช่น กระบอกสูบ มอเตอร์ ฯลฯ ซึ่งจะทำหน้าที่เปลี่ยนพลังงานลมเป็นพลังงานกล</font></p>
        </div>

        <div class="teams-items">
            <h4><font size="6">ข้อดีของระบบนิวเมติกส์</font></h4>
            <p><font size="4"> 1. ระบบนิวเมติกส์ ที่ใช้งานทั่วไปไม่มีการระเบิดหรือลุกไหม้เป็นเปลวไฟ จึงประหยัดค่าใช้จ่ายเกี่ยวกับการป้องกันความปลอดภัย<br>
                2. ความเร็วของเครื่องมือที่ใช้ระบบนิวเมติกส์ให้ความเร็วในการทำงานสูง 1-2 m/s แต่ถ้าหากต้องการความเร็วสูงขึ้นมากกว่านี้จะต้องใช้ลูกสูบชนิดพิเศษซึ่งมีความเร็ว 10m/s<br>
                3. ระบบนิวเมติกเมื่อใช้งานแล้วสามารถระบายลม ออกสู่บรรยากาศได้ทันทีโดยไม่ต้องเดินท่อทางนำกลับมาใช้อีก ทำให้ประหยัดค่าใช้จ่าย<br>
                4. ระบบนิวเมติกส์สามารถนำลมที่อัดตัวแล้วเก็บไว้ในถัง และนำไปใช้งานได้ทันที<br>
                5. ถ้าใช้งานอุปกรณ์นิวเมติกส์จนเกิดกำลัง อุปกรณ์ก็ยังมีความปลอดภัย<br>
                6. ระบบนิวเมติกส์สามารถปรับความเร็วในการทำงานได้โดยใช้อุปกรณ์ควบคุมความเร็วและสามารถทำให้รอบในการทำงานสูงถึง 8,000 รอบต่อวินาที<br>
                7. สามารถปรับความดันลมอัดใหมีค่ามากน้อยได้ตามต้องการ โดยใช้อุปกรณ์ควบคุมความดัน<br>
                8. ความสะอาดของระบบนิวเมติกส์ดีมาก เพราะมีชุดปรับคุณภาพลมก่อนนำไปใช้งาน<br>
                9. สามารถทำงานได้ที่ระดับความแตกต่างของอุณหภูมิ</font></p>
        </div>
        <div class="min">
            <h5><font size="6">ข้อเสียของระบบนิวเมติกส์</font></h5>
            <p><font size="4"> 1. ในโรงงานอุตสาหกรรมบางครั้งมีการเพิ่มอุปกรณ์นิวเมติกส์เข้ามาในวงจร โดยไม่คำนึงถึงความสามารถของเครื่องอัดลม ซึ่งอาจจะทำให้เครื่องจักรทำงานคลาดเคลื่อนได้ และในบางครั้งถ้าลูกสูบอยู่ห่างจากอุปกรณ์ควบคุมเกินกว่า 5 เมตร จะทำให้เกิดปัญหาในการทำงานของลูกสูบ<br>
                2. ลมที่ได้มาจากการอัดตัวในระบบนิวเมติกจะมีความชื้นปนอยู่ และเมื่อความดันลดลงจะทำให้เกิดหยดน้ำขึ้นได้<br>
                3. การทำงานของระบบนิวเมติกมักจะมีเสียงดัง เพราะจะต้องมีการระบายลมทิ้งออกสู่บรรยากาศ จึงจำเป็นต้องจะต้องมีตัวเก็บเสียง<br>
                4. ความดันของลมอัดในระบบนิวเมติกส์จะเปลี่ยนแปลงไปตามอุณหภูมิ ถ้าอุณหภูมิสูง ความดันก็จะสูง และถ้าอุณหภูมิต่ำ ความดันก็จะต่ำลงด้วย<br>
                5. ในกรณีที่ต้องการแรงในการใช้งานมาก เส้นผ่านศูนย์กลางของลูกสูบจะต้องมีขนาดโตขึ้น เพื่อที่จะให้ได้แรงตามต้องการ ซึ่งลูกสูบในระบบนิวเมติกส์จะมีขนาดจำกัด</font></p>
        </div>

        <div class="aa">
            <h5><font size="8">อุปกรณ์ทำงานในระบบ</font></h5>
            <p><font size="6">เครื่องอัดลม (Compressor)</font></p>
            <p><font size="4">ระบบนิวเมติกส์ต้องใช้ลมอัดเป็นสารทำงาน ดังนั้นจึงต้องมีอุปกรณ์ในการผลิตลมอัด อุปกรณ์ดังกล่าวคือเครื่องอัดลม ซึ่งทำหน้าที่ผลิตลมอัดใหกับระบบนิวเมติกส์ สามารถแบ่งออกได้ 2 ประเภท คือ เครื่องอัดลมที่ทำงานในลักษณะการเคลื่อนที่เป็นแนวตรง กับทำงานในลักษณะของการหมุน</font></p>
                <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th  width="25%"><font size= "4"><center>ถังลม</center></font></th>
                        <th  width="25%"><font size= "4"><center>สัญลักษณ์</center></font></th>
                      </tr>
                    </tbody>
                    <tr>
                        <td  width="25%"><img class = "img" src="{% static 'image/ถังลม.png' %}" alt="" width="200" height="200" ></td>
                        <td  width="25%"><img class = "img" src="{% static 'image/สัญลักษณ์ถังลม.png' %}" alt="" width="100" height="100" ></td>
                    </tr>
                    </tbody>
                </table>
            <p><font size="6">ถังเก็บลม (Receiver) </font></p>
            <p><font size="4">ถังเก็บลมจะทำหน้าที่เก็บสะสมลมที่ได้จากการอัดอากาศของเครื่องอัดลมให้มีปริมาณที่เพียงพอกับความต้องการ นอกจากนั้นยังเป็นตัวสร้างความดันให้กับลมอัดอีกด้วย จึงจำเป็นที่จะต้องมีถังเก็บลมที่สามารถจ่ายปริมาณลม และความดันลมได้อย่างคงที่ตลอดเวลา</font></p>
            <p><font size="6">การเตรียมลมอัด</font></p>
            <p><font size="4">โดยปกติแล้วในลมอัดจะมีความชื้นและไอน้ำปะปนอยู่ ซึ่งละอองน้ำจะมีผลทำให้อุปกรณ์ต่างๆ ของระบบนิวเมติกส์ เช่น ท่อทาง วาล์ว กระบอกสูบ ฯลฯ เกิดการเสียหายได้ นอกจากนี้ในอากาศยังมีฝุ่นละออง และสิ่งสกปรกต่างๆ เมื่อคอมเพรสเซอร์ดูดอากาศที่มีฝุ่นละอองเข้ามาในนบบนิวเมติกส์ ซึ่งมีผลทำให้อุปกรณ์ที่เคลื่อนที่ ตลอดจนสิวกันรั่วต่างๆ มีอายุการใช้งานที่สั้นลง เป็นผลให้การทำงานของวงจรนิวเมติกส์ไม่สมบูรณ์ และไม่ปลอดภัยเท่าที่ควร ดังนั้น จึงมีความจำเป็นอย่างยิ่งที่จะต้องเตรียมลมอัดให้มีคุณสมบัติตามที่ต้องการก่อนที่จะนำไปใช้งานในงานนิวเมติกส์ ลมอัดที่จะนำมาใช้งานได้ต้องมีคุณสมบัติ คือ ต้องมีความสะอาดปราศจากฝุ่น สิ่งสกปรกต่างๆ และละอองน้ำ นอกจากนั้นยังต้องช่วยลดความฝืดในอุปกรณ์ที่มีการเคลื่อนที่ และป้องกันสนิม ดังนั้นลมอัดจึงจำเป็นต้องมีออกน้ำมันผสมอยู่ด้วย ด้วยสาเหตุนี้จึงต้องมีชุดควบคุมและปรับปรุงคุณภาพลมอัดก่อนที่จะนำลมอัดนี้ไปใช้งานในระบบนิวเมติกส์ต่อไป</font></p>
        </div>

        <div class="bb">
            <p><font size="6">ชุดควบคุมและปรับปรุงคุณภาพลมอัด (Service Unit)</font></p>
            <img class = "img" src="{% static 'image/se.png' %}" alt="" width="300" height="350" >
            <p><font size="4">ก่อนที่จะนำลมอัดที่ผลิตจากคอมเพรสเซอร์จ่ายให้กับอุปกรณ์หรือวงจรนิวเมติกส์ จะต้องมีการปรับปรุงคุณภาพของลมอัดเสียก่อน โดยให้ลมอัดผ่านชุดปรับปรุงคุณภาพลม ซึ่งมีส่วนประกอบที่สำคัญ คือ ตัวกรอง วาล์วปรับลดและควบคุมแรงดัน และตัวจ่ายน้ำมันหล่อลื่น ซึ่งอธิบายได้ดังนี้ <br>
             ตัวกรอง (Filter) ทำหน้าที่กรองฝุ่นละอองและน้ำทที่ปะปนมากับลมอัด เพื่อให้ได้ลมอัดที่มีความสะอาดก่อนนำไปใช้งาน <br>
             วาล์วปรับลดและควบคุมแรงดัน (Regulator) ทำหน้าที่ปรับความดันให้ค่าความดันของลมอัดมีความดันเท่ากับความดันใช้งานในระบบนิวเมติกส์ และรักษาแรงดันให้มีค่าคงที่ตามที่ตั้งค่าไว้ <br>
             ตัวจ่ายน้ำมันหล่อลื่น (Lubricator) ทำหน้าที่จ่ายน้ำมันหล่อลื่นให้กับอุปกรณ์นิวเมติกส์ โดยจะปะปนไปกับลมอัด เพื่อหล่อลื่นอุปกรณ์ต่างๆ </font></p>
             <table class="table table-bordered">
                <tr>
                    <th colspan="2"><center>สัญลักษณ์</center></th>
                </tr>
                <tbody>
                  <tr>
                    <td  width="25%"><font size= "4"><center>แบบละเอียด</center></font></td>
                    <td  width="25%"><font size= "4"><center>แบบย่อ</center></font></td>
                  </tr>
                </tbody>
                <tr>
                    <td  width="25%"><img class = "img" src="{% static 'image/Su.png' %}" alt="" width="300" height="200" ></td>
                    <td  width="25%"><img class = "img" src="{% static 'image/ย่อ.png' %}" alt="" width="200" height="150" ></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="cc">
            <h5><font size="6">กระบอกสูบทางเดียว (Single Acting Cylinder)</font></h5>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="10%"><center><img border="0" src="{% static 'image/ทางเดียว.png' %}" width="400" height="150"></center></th>
                    <td width="10%"><font size= "4">รูปร่างอุปกรณ์ <br>
                        1.	จะสังเกตเห็นช่องป้อนลมเพียง 1 ช่อง <br>
                        2.	เมื่อดึงก้านสูบออกหรือดันเข้าแล้วปล่อยมือ ลูกสูบจะเคลื่อนที่กลับด้วยแรงสปริง <br>
                        3.	มีระยะชักสั้นๆ ไม่เกิน 100 มม.</font></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="10%"><center><img border="0" src="{% static 'image/โครงสร้างทางเดียว.png' %}" width="300" height="200"></center></td>
                    <td width="10%"><font size= "4">ลักษณะโครงสร้าง  <br>
                        1.	กระบอกสูบ  <br>
                        2.	ลูกสูบ  <br>
                        3.	ก้านสูบ  <br>
                        4.	สปริงดันกลับ  <br>
                        5.	ซีล  <br>
                        6.	บูชก้านสูบ  <br>
                        7.	ช่องจ่ายลม  <br>
                        8.	ช่องระบายลม </font> <br></td>
                  </tr>
                  <tr>
                    <td><center><img border="0" src="{% static 'image/ถอยกลับด้วยสปริง.png' %}" width="200" height="100"><br>
                        <p><font size= "4">แบบถอยกลับด้วยสปริง</font></p>
                        <img src="{% static 'image/เลื่อนออกด้วยสปริง.png' %}" width="200" height="100">
                        <p><font size= "4">แบบเลื่อนออกด้วยสปริง</font></p></center>
                    </td>
                    <td><center><font size= "4" > สัญลักษณ์ </font></center></td>
                  </tr>
                  <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานทางเดียว.png' %}" width="250" height="250"></td>
                    <td><font size= "4" > การทำงาน <br>
                        จังหวะการเคลื่อนที่ออก <br>ก้านสูบเคลื่อนที่ออกได้โดยแรงดันของลมที่เข้าไปดันหัวลูกสูบ โดยจะต้องเอาชนะแรงต้านของสปริงและความฝืดภายในกระบอกสูบ<br>
                        จังหวะเคลื่อนที่เข้า <br>ก้านสูบเคลื่อนที่กลับด้วยแรงสปริง</font></td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="dd">
            <h5><font size="6">กระบอกสูบสองทาง (Double Acting Cylinder)	 </font></h5>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <td width="25%"><center><img border="0" src="{% static 'image/สองทาง.png' %}" width="400" height="150"></center></td>
                    <td  width="25%"><font size= "4">รูปร่างอุปกรณ์ <br>
                        1.	จะสังเกตเห็นช่องป้อนลม 2 ช่อง  <br>
                        2.	มีสัญลักษณ์บอกชนิดของลูกสูบ</font></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><center><img border="0" src="{% static 'image/โครงสร้างสองทาง.png' %}" width="300" height="200"></center></td>
                    <td><font size= "4">ลักษณะโครงสร้าง  <br>
                        ประกอบด้วยลูกสูบและก้านสูบ ซึ่งเคลื่อนที่ไปมาอยู่ภายในกระบอกสูบที่ปิดหัวท้าย โดยใช้ลมอัดไปอัดเพื่อทำให้เกิดการเคลื่อนที่ <br>
                        1.	ช่องป้อนลม <br>
                        2.	ฝาสูบหัวท้าย <br> 
                        3.	ลูกสูบ <br>
                        4.	ก้านสูบ <br>
                        5.	กระบอกสูบ <br>
                        6.	ซีล </font></td>
                  </tr>
                  <tr>
                    <td><center><img border="0" src="{% static 'image/สัญลักษณ์สองทาง.png' %}" width="300" height="150"></td>
                    <td><center><font size= "4" > สัญลักษณ์ </font></center></td>
                  </tr>
                  <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานสองทาง.png' %}" width="250" height="250"></td>
                    <td><font size= "4" > การทำงาน <br>
                        จังหวะการเคลื่อนที่ออก <br> ก้านสูบเคลื่อนที่ออกได้โดยแรงดันของลมที่เข้าไปดันหัวลูกสูบ <br>
                        จังหวะเคลื่อนที่เข้า <br> ก้านสูบเคลื่อนที่เข้าได้โดยแรงดันของลมที่เข้าไปดันลูกสูบดันก้านสูบ</font></td>
                  </tr>
                </tbody>
              </table>
        </div>

        <div class="ee">
            <h5><font size="6">สัญลักษณ์ของวาล์วควบคุมทิศทาง</font></h5>
            <table class="table table-bordered">
                <thead>
                <tr bgcolor="#FFA07A">
                <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
                 <td width="25%"><center><font size= "4">ลักษณะ</center></font></td>
                 <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
                 </tr>
                </thead>

                <tbody>
                 <tr>
                    <td><center><img border="0" src="{% static 'image/สี่เหลี่ยม.png' %}" width="80" height="80"></center></td>
                    <td><font size= "4"><center>รูปสี่เหลี่ยม</center></font></td>
                    <td><font size= "4"><center>ตำแหน่งของวาล์ว</center></font></td>
                </tr>
                </tbody>

                <tr>
                    <td><center><img border="0" src="{% static 'image/สี่เหลี่ยมสองช่อง.png' %}" width="80" height="80"><br>
                    <td><center><font size= "4" >รูปสี่เหลี่ยม 2 รูปต่อกัน </font></center></td>
                    <td><center><font size= "4" > วาล์วสองตำแหน่ง </font></center></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/สี่เหลี่ยมสามช่อง.png' %}" width="80" height="80">
                    <td><center><font size= "4" > รูปสี่เหลี่ยม 3 รูปต่อกัน </center></font></td>
                    <td><center><font size= "4" > วาล์วสามตำแหน่ง</center> </font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/ลูกศรในช่องสี่เหลี่ยม.png' %}" width="80" height="80">
                    <td><center><font size= "4" > ลูกศรภายในช่องสี่เหลี่ยม </center></font></td>
                    <td><center><font size= "4" > ท่อภายในเปิดให้ลมไหลผ่านวาล์วตามทิศทางของลูกศร</center> </font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/เส้นในช่องสี่เหลี่ยม.png' %}" width="80" height="80">
                    <td><center><font size= "4" > เส้นภายในช่องสี่เหลี่ยม </center></font></td>
                    <td><center><font size= "4" > ท่อภายในปิดลมผ่านไม่ได้</center> </font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/เส้นตัดในช่องสี่เหลี่ยม.png' %}" width="80" height="80">
                    <td><center><font size= "4" > เส้นตัดภายในช่องสี่เหลี่ยมมีจุด </center></font></td>
                    <td><center><font size= "4" > ท่อภายในวาล์วต่อร่วมกัน</center> </font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/เส้นตัดในช่องไม่มีจุด.png' %}" width="80" height="80">
                    <td><center><font size= "4" > เส้นตัดภายในช่องสีเหลี่ยมไม่มีจุด </center></font></td>
                    <td><center><font size= "4" >ท่อภายในวาล์วตัดกันแต่ไม่ต่อร่วมกัน</center> </font></td>
            </table>
        </div>

        <div class="ff">
            <h5><font size="7">การบังคับการเลื่อนของวาล์ว</font></h5>
            <p><font size= "5">การเลื่อนโดยใช้กล้ามเนื้อ (Manual actuation)</font></p>
            <table class="table table-bordered">
                <tr bgcolor="#FFA07A">
                <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
                <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ทั่วไป.png' %}" width="100" height="50"></center></td>
                    <td><font size= "4"><center>สัญลักษณ์ทั่วไป ซึ่งใช้แทนการทำงานโดยใช้กล้ามเนื้อ</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ใช้มือกด.png' %}" width="100" height="50"><br>
                    <td><center><font size= "4" >ใช้มือกด (Push Button) </font></center></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ใช้คันโยก.png' %}" width="100" height="50">
                    <td><center><font size= "4" > ใช้คันโยก (Lever) </center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ใช้เท้าเหยียบ.png' %}" width="100" height="50">
                    <td><center><font size= "4" >ใช้เท้าเหยียบ (Pedal) </center></font></td>
                    
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/ใช้มือกดล็อก.png' %}" width="100" height="50">
                    <td><center><font size= "4" > ใช้มือกดแบบมีตัวล็อกตำแหน่ง (Detent) </center></font></td>
                </tr>
            </table>

            <p><font size= "5">การเลื่อนโดยใช้กลไก (Mechanical actuation)</font></p>
            <table class="table table-bordered">
                <tr bgcolor="#FFA07A">
                <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
                <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
                </tr>
                
                <tr>
                    <td><center><img border="0" src="{% static 'image/กลไกภายนอก.png' %}" width="100" height="50"></center></td>
                    <td><font size= "4"><center>ใช้กลไกภายนอกเป็นตัวกด (Plunger)</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/สปริงดัน.png' %}" width="100" height="50"><br>
                    <td><center><font size= "4" >ใช้สปริงดันให้อยู่ในตำแหน่งปกติ (Spring) </font></center></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ลูกกลิ้งทำงาน 2 ด้าน.png' %}" width="100" height="50">
                    <td><center><font size= "4" > แบบลูกกลิ้งทำงาน 2 ด้าน (Roller Lever) </center></font></td> 
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ลูกกลิ้งทำงานด้านเดียว.png' %}" width="100" height="50">
                    <td><center><font size= "4" >แบบลูกกลิ้งทำงานด้านเดียว (Roller Lever with Idle Return or Roller Trip) </center></font></td>
                </tr> 
            </table>

            <p><font size= "5">การเลื่อนโดยใช้ลม (Pneumatic actuation or Pressure actuation)</font></p>
            <table class="table table-bordered">
                <tr bgcolor="#FFA07A">
                <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
                <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
                </tr>
                
                <tr>
                    <td><center><img border="0" src="{% static 'image/ลมดัน.png' %}" width="100" height="50"></center></td>
                    <td><font size= "4"><center>ใช้ลมดันให้วาล์วเลื่อนโดยตรง (Apply Pressure)</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ระบายลมทิ้ง.png' %}" width="100" height="50"><br>
                    <td><center><font size= "4" >ระบายลมทิ้งให้วาล์วเลื่อนโดยตรง (Release Pressure) </font></center></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/เลื่อนด้วยความดัน.png' %}" width="100" height="50">
                    <td><center><font size= "4" > เลื่อนด้วยความดันที่ต่างกัน (Difference Pressure) </center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/วาล์วเลื่อนทางอ้อม.png' %}" width="100" height="50">
                    <td><center><font size= "4" >ใช้ลมดันให้วาล์วเลื่อนทางอ้อม (Pressure Apply to Pilot Valve) </center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ระบายลมทิ้งให้วาล์วเลื่อนทางอ้อม.png' %}" width="100" height="50">
                    <td><center><font size= "4" >ระบายลมทิ้งให้วาล์วเลื่อนทางอ้อม (Pressure Removed from Pilot Valve)</center></font></td>
                </tr>
            </table>

            <p><font size= "5">การเลื่อนโดยใช้ไฟฟ้า (Electrical actuation)</font></p>
            <table class="table table-bordered">
                <tr bgcolor="#FFA07A">
                <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
                <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ขดลวด 1 ขด.png' %}" width="100" height="50"></center></td>
                    <td><font size= "4"><center>ใช้แม่เหล็กไฟฟ้า มีขดลวด 1 ขด</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ขดลวดหลายทิศเดียวกัน.png' %}" width="100" height="50"><br>
                    <td><center><font size= "4" >ใช้แม่เหล็กไฟฟ้า มีขดลวดหลายขดทำงานในทิศทางเดียวกัน </font></center></td>
                    
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/ขดลวดหลายขดทิศตรงกันข้าม.png' %}" width="100" height="50">
                    <td><center><font size= "4" > ใช้แม่เหล็กไฟฟ้า มีขดลวดหลายขดทำงานในทิศทางตรงข้ามกัน</center></font></td>
                </tr>
                </table>
                
            <p><font size= "5">การเลื่อนโดยใช้แบบผสม (Combined actuation)</font></p>
            <table class="table table-bordered">
             <tr bgcolor="#FFA07A">
             <td width="25%"><center><font size= "4">สัญลักษณ์</center></font></td>
             <td width="25%"><center><font size= "4">ความหมาย</center></font></td>
             </tr>
              <tr>
                 <td><center><img border="0" src="{% static 'image/แม่เหล็กไฟฟ้าและลมดัน.png' %}" width="100" height="50"></center></td>
                 <td><font size= "4"><center>ใช้แม่เหล็กไฟฟ้าและลมดันช่วยภายในวาล์ว</center></font></td>
             </tr> 

             <tr>
                 <td><center><img border="0" src="{% static 'image/กลไกลูกกลิ้งและลมดัน.png' %}" width="100" height="50"><br>
                 <td><center><font size= "4" >ใช้กลไกลูกกลิ้งและลมดันช่วยภายในวาล์ว</font></center></td>
             </tr>

             <tr>
                 <td><center><img border="0" src="{% static 'image/เลื่อนด้วยแม่เหล็กไฟฟ้า.png' %}" width="100" height="50">
                 <td><center><font size= "4" > ใช้เลื่อนด้วยแม่เหล็กไฟฟ้าหรือลมดันช่วยในวาล์ว</center></font></td>
             </tr>
             </table>
        </div>

        <div class="gg">
            <h5><font size="8"> อุปกรณ์ควบคุมการทำงาน</font></h5>
            <h4><font size="6">วาล์วบังคับทิศทางแบบ 3/2</font></h4>
            <img class = "img" src="{% static 'image/32.png' %}" alt="" width="300" height="200" >
             <p><font size= "5">1.	วาล์วแบบ 3/2 ปกติปิด บังคับการทำงานด้วยมือและกลับด้วยสปริง </font></p>
             <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์ 32ปกติปิด.png' %}" width="250" height="150"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงาน 32 ปกติปิด.png' %}" width="250" height="350"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        ในตำแหน่งปกติลมจาก 3 จะถูกปิด รู 2 และ 1 จะต่อถึงกัน เมื่อออกแรงกดที่ปุ่มกดจะทำให้ลิ้นเปิด ลมจาก 3 ผ่านไป 2 ได้ และเมื่อปล่อยมือ สปริงจะดันให้วาล์วกลับสู่ตำแหน่งเดิม
                        </center></font></td>
                </tr>
             </table>

                <p><font size= "5">2.วาล์วแบบ 3/2 ปกติปิด บังคับการทำงานด้วยกลไกและกลับด้วยสปริง  </font></p>
                <table class="table table-bordered">
                    <tr>
                     <td><center><img border="0" src="{% static 'image/สัญลักษณ์32 ปกติปิด บังคับการทำงานด้วยกลไก.png' %}" width="250" height="150"></center></td>
                     <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                    </tr>

                    <tr>
                        <td><center><img border="0" src="{% static 'image/การทำงาน 32ปกติปิด บังคับการทำงานด้วยกลไก.png' %}" width="250" height="300"></center></td>
                        <td><font size= "4"><center>การทำงาน <br>
                            ในตำแหน่งปกติลมจาก 3 จะถูกปิด รู 2 และ 1 จะต่อถึงกัน เมื่อออกแรงกดจะทำให้ลิ้นเปิด ลมจาก 3 ผ่านไป 2 ได้ และเมื่อไม่มีแรงมากระทำ สปริงจะดันให้วาล์วกลับสู่ตำแหน่งเดิม</center></font></td>
                    </tr>
                </table>
        </div>

        <div class="teams-items">
            <h4><font size="6">วาล์วบังคับทิศทางแบบ 5/2</font></h4>
            <img class = "img" src="{% static 'image/52n.png' %}" alt="" width="250" height="200" >
            <p><font size= "5">1.วาล์วบังคับทิศทางลมแบบ 5/2 บังคับการทำงานด้วยมือและกลับด้วยสปริง </font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/แบบ 52 ทำงานด้วยมือ.png' %}" width="200" height="150"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงาน 52 ด้วยมือ.png' %}" width="250" height="350"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        ตำแหน่งปกติ ลมจากรู 1 จะต่อถึงรู 2 และรู 4 จะต่อถึงรู 3 ส่วนรู 5 จะถูกปิดไว้ <br>
                        ตำแหน่งทำงาน เมื่อออกแรงกดลิ้นของวาล์วจะเลื่อนเปลี่ยนตำแหน่งไปทางขวามือ ทำให้ลมเปลี่ยนทิศทางจากรู 1 จะต่อถึงรู 4 และรู 2 จะต่อถึงรู 5
                  </center></font></td>
                </tr>    
            </table>
                <p><font size= "5">2.วาล์วบังคับทิศทางลมแบบ 5/2 บังคับการทำงานด้วยลม</font></p>
                <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/แบบ 52 ทำงานด้วยลม.png' %}" width="200" height="150"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>
                
                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงาน 52 ด้วยลม.png' %}" width="250" height="350"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        ตำแหน่งปกติ ลมจากรู 1 จะต่อถึงรู 2 และรู 4 จะต่อถึงรู 3 ส่วนรู 5 จะถูกปิดไว้ <br>
                        ตำแหน่งทำงาน เมื่อออกแรงกดลิ้นของวาล์วจะเลื่อนเปลี่ยนตำแหน่งไปทางขวามือ ทำให้ลมเปลี่ยนทิศทางจากรู 1 จะต่อถึงรู 4 และรู 2 จะต่อถึงรู 5
                  </center></font></td>
                </tr>
                </table>
        </div>

        <div class="hh">
            <h5><font size="6">วาล์วควบคุมแบบลูกกลิ้ง (Roller)</font></h5>
            <img class = "img" src="{% static 'image/Rollers.png' %}" alt="" width="400" height="200" >
            <p><font size="4">การใช้วาล์วแบบลูกกลิ้ง ควบคุมการทำงานของก้านสูบโดยติดตั้งไว้ที่ปลายก้านสูบ เมื่อก้านสูบเคลื่อนที่มากดทำให้วาล์วสามารถทำงานได้</font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์ลูกกลิ้ง.png' %}" width="200" height="150"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>
                 <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานRoller.png' %}" width="350" height="200"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                         ตำแหน่งปกติ รู A ต่อถึงรู R <br>
                        ตำแหน่งทำงาน รู P ต่อถึงรู A </center></font></td>
                 </tr>
            </table>
        </div>

        <div class="ii">
            <h5><font size="6">วาล์วกันกลับ (Check Valve)</font></h5>
            <p><font size="4">มีหน้าที่ให้ลมไหลผ่านได้ทางเดียว โดยจะไหลย้อนกลับไม่ได้ เมื่อความดันด้านที่ต่อไปใช้งานสูงกว่าด้านเข้า</font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/กันกลับแบบไม่มีสปริง1.png' %}" width="150" height="70">
                 <p><font size="4">แบบไม่มีสปริง</font></p>
                <img src="{% static 'image/กันกลับแบบมีสปริง1.png' %}"  width="150" height="65">
                <p><font size="4">แบบมีสปริง</font></p></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วกันกลับ1.png' %}" width="300" height="250"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                              ตำแหน่งปกติ สปริงจะดันให้ซีลปิดตลอดเวลา <br>
                              ตำแหน่งทำงาน เมื่อลมอัดไหลเข้ามาที่ช่อง 1 ด้วยความดันที่มากกว่าความแข็งของสปริง ซีลจะเปิดให้ลมอัดไหลผ่านออกช่อง 2 ได้ ถ้ามีลมไหลย้อนกลับจากช่อง 2 ซีลของวาล์วจะปิดไม่ให้ลมไหลผ่านออกช่อง 1</center></font></td>    
                </tr>
            </table>
        </div>

        <div class="jj">
            <h5><font size="6">วาล์วกันกลับสองทาง (Shuttle Valve)</font></h5>
            <img class = "img" src="{% static 'image/วาล์วกันกลับสองทาง1.png' %}" alt="" width="250" height="200" >
            <p><font size="4">วาล์วชนิดนี้มีท่อลมเข้าสองทางและท่อลมออกหนึ่งทาง ประโยชน์ของวาล์วชนิดนี้ คือ ใช้เมื่อต้องการจุดสตาร์ทหลายจุด</font></p>

            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วกันกลับสองทาง1.png' %}" width="150" height="100"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วกันกลับสองทาง1.png' %}" width="250" height="150"> <br>
                        <img border="0" src="{% static 'image/การทำงานวาล์วกันกลับสองทาง2.png' %}" width="250" height="150"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                          เมื่อป้อนลมเข้าทาง Y ลมจะผ่านออกทาง A รู X จะถูกปิด<br>
                          เมื่อป้อนลมเข้าทาง X ลมจะผ่านออกทาง A รู Y จะถูกปิด</center></font></td>
                </tr>
            </table>
        </div>

        <div class="kk">
            <h5><font size="6">วาล์วควบคุมอัตราการไหลทางเดียว (One-Way Flow Control Valve)</font></h5>
            <img class = "img" src="{% static 'image/วาล์วควบคุมอัตราการไหลทางเดียว1.png' %}" alt="" width="250" height="200" >
            <p><font size="4">วาล์วชนิดนี้สามารถควบคุมอัตราการไหลของความดันลมได้เพียงทิศทางเดียว ดังนั้นจึงเป็นวาล์วที่ควบคุมความเร็วของกระบอกสูบตอนเคลื่อนที่เข้าออกได้อย่างอิสระ</font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วควบคุมอัตราการไหลทางเดียว1.png' %}" width="200" height="150"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วควบคุมอัตราการไหลทางเดียว1.png' %}" width="225" height="125"><br>
                        <img border="0" src="{% static 'image/การทำงานอัตราการไหลทางเดียว.png' %}" width="230" height="125"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        เมื่อป้อนลมเข้าทาง A สามารถควบคุมอัตราการไหลได้<br>
                        เมื่อป้อนลมเข้าทาง B ควบคุมอัตราการไหลไม่ได้</center></font></td>
                </tr>
            </table>
        </div>

        <div class="ll">
            <h5><font size="6">วาล์วเร่งระบายลม (Quick Exhaust Valve)</font></h5>
            <img class = "img" src="{% static 'image/วาล์วเร่งระบายลม1.png' %}" alt="" width="250" height="200" >
            <p><font size="4">วาล์วเร่งระบายลม มีหน้าที่ ช่วยระบายลมออกจากอุปกรณ์ สู่ภายนอกอย่างรวดเร็ว เพื่อเพิ่มความเร็วในการเคลื่อนที่ของลูกสูบ</font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วเร่งระบายลม1.png' %}" width="160" height="110"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>
                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วเร่งระบายลม1.png' %}" width="175" height="175"><br>
                        <img border="0" src="{% static 'image/การทำงานวาล์วเร่งระบายลม2.png' %}" width="175" height="175"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        ตำแหน่งป้อนลมใช้งาน เมื่อป้อนลมเข้าวาล์ว ลมจะเข้าทางช่อง 1 ดันซีลไปปิดช่อง 3 ลมอัดผ่านออกช่อง 2 ได้<br>
                        ตำแหน่งระบายลม ลมจากช่อง 2 จะดันซีลไปปิดช่อง 1 ระบายออกช่อง 3 สู่ภายนอก</center></font></td>
                </tr>
            </table>
        </div>

        <div class="mm">
            <h5><font size="6">วาล์วความดันสองทาง (Two Pressure Valve)</font></h5>
            <img class = "img" src="{% static 'image/วาล์วความดันสองทาง1_.png' %}" alt="" width="250" height="200" >
            <p><font size="4">วาล์วชนิดนี้มีท่อลมเข้าสองทางและท่อลมออกหนึ่งทาง ประโยชน์ของวาล์วชนิดนี้ คือ ใช้เมื่อต้องการจุดสตาร์ทหลายจุด</font></p>

            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วความดันสองทาง1.png' %}" width="150" height="75"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>
                 <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วความดันสองทาง1.png' %}" width="225" height="125"><br>
                        <img border="0" src="{% static 'image/การทำงานวาล์วความดันสองทาง2.png' %}" width="225" height="125"></center></td></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        ตำแหน่งลมอัดเข้าทาง 1 ลูกสูบจะเลื่อนไปทาง 3 ปิดช่อง 1 เปิดช่อง 3<br>
                        ตำแหน่งลมอัดเข้าทาง 3 ลูกสูบจะเลื่อนไปทาง 1 ปิดช่อง 3 เปิดช่อง 1 <br> 
                        ตำแหน่งลมอัดเข้าทาง 2 ทาง ลูกสูบจะอยู่ในตำแหน่งใดๆ ทำให้ลมจากช่อง 1 หรือช่อง 3 ไหลผ่านออกไปช่อง 2 ได้</center></font></td>
                 </tr>
            </table>
        </div>

        <div class="ll">
            <h5><font size="6">วาล์วหน่วงเวลา (Time Delay Valve)</font></h5>
            <img class = "img" src="{% static 'image/วาล์วหน่วงเวลา1.png' %}" alt="" width="270" height="220" >
            <p><font size="4">วาล์วหน่วงเวลา มีหน้าที่ ควบคุมการทำงานของก้านสูบให้เคลื่อนที่กลับ ซึ่งสามารถปรับตั้งเวลา หรือหน่วงเวลาในการเคลื่อนกลับมาของการสูบได้ โดยการปรับอัตราการไหลของลมที่เข้าไปที่วาล์วหน่วงเวลา</font></p>
            <p><font size="5">1.	วาล์วหน่วงเวลาแบบปกติเปิด</font></p>
            <table class="table table-bordered">
                <tr>
                 <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วหน่วงเวลาแบบปกติเปิด1.png' %}" width="400" height="200"></center></td>
                 <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                </tr>

                <tr>
                    <td><center><img border="0" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติเปิด1.png' %}" width="220" height="220">
                    <img src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติเปิด2.png' %}" width="220" height="220"></center></td>
                    <td><font size= "4"><center>การทำงาน <br>
                        สภาวะปกติ เมื่อยังไม่มีแรงดันลมเข้าทางรู 10 แรงดันลมจากรู 1 จะถูกปิด ส่วนรู 2 จะต่อถึงรู 3<br>
                        สภาวะทำงาน เมื่อมีแรงดันลมเข้าทางรู 10  ลมอัดจะถูกควบคุมให้ไหลผ่านเฉพาะวาล์วควบคุมการไหลจนปริมาณลมเต็มถังเก็บลม แรงดันลมจะไปดันเลื่อนให้วาล์ว 3/2 ปิด ลมจากรู 1 จึงถูกปิด ส่วนลมจากรู 2 จะต่อถึงรู 3 ได้</center></font></td>
                <tr>
            </table>
                <p><font size="5">2.วาล์วหน่วงเวลาแบบปกติปิด</font></p>
                <table class="table table-bordered">
                    <tr>
                     <td><center><img border="0" src="{% static 'image/สัญลักษณ์วาล์วหน่วงเวลาแบบปกติปิด1.png' %}" width="400" height="200"></center></td>
                     <td width="50%"><center><font size= "4">สัญลักษณ์</center></font></td>
                    </tr>
                     <tr>
                        <td><center><img border="0" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติปิด1.png ' %}" width="220" height="220">
                        <img src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติปิด2.png' %}" width="220" height="220"></center></td>
                        <td><font size= "4"><center>การทำงาน <br>
                            สภาวะปกติ เมื่อยังไม่มีแรงดันลมเข้าทางรู 12 แรงดันลมจากรู 1 จะถูกปิด ส่วนรู 2 จะต่อถึงรู 3<br>
                            สภาวะทำงาน เมื่อมีแรงดันลมเข้าทางรู 12  ลมอัดจะถูกควบคุมให้ไหลผ่านเฉพาะวาล์วควบคุมการไหลเข้าไปยังถังเก็บลม เมื่อปริมาณลมสะสมจนเต็มถังก็จะเกิดแรงดันไปเลื่อนให้วาล์วเปิด ลมจะไหลจากรู 1 ออกรู 2 ได้ ช่วงเวลาในการเปิดวาล์วขึ้นอยู่กับการปรับวาล์วควบคุมการไหล หากปรับวาล์วให้แคบ เวลาจะมากขึ้น ถ้าปรับวาล์วให้กว้าง ลมจะเต็มถังเก็บลมเร็วขึ้น เวลาจะน้อยลง</center></font></td>
                     </tr>
                </table>
        </div>

    <div class="ll">
        <center>
     <video width="750" height="675" controls>
        <source src="{% static 'image/อุปกรณ์.mp4' %}" type="video/mp4">
    </video>
        </center>
    </div>
    </section>
</div>
{% endblock %}