* {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.title-pretest {
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
}

.question-container {
    display: flex;
}

.question {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.choice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn {
    width: 150px;
    height: 50px;
}

.test-title,
.title-pretest,
.test-choice,
.button-container,
.button-prev,
.button-next,
.question,
h2 {
    max-width: max-content;
    height: max-content;
}

.test-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-container {
    max-height: calc(100% - 318px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.test-title {
    font-size: 30px;
    font-weight: 600;
    margin-right: 200px;
}

.button-next,
.button-prev {
    position: absolute;
    bottom: 20%;
    cursor: pointer;
    background-color: #5669af;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.button-next {
    right: 30%;
}

footer,
.footer-text {
    width: 100%;
    background-color: #192655;
    height: 150px;
}

.footer-text {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.active {
    display: flex;
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .test-title {
        font-size: 28px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .test-container {
        max-height: calc(100% - 315px);
    }

    .test-title {
        font-size: 26px;
    }

    .title-pretest {
        font-size: 30px;
    }
}

@media (max-width: 768px) and (min-width: 680px) {
    .test-container {
        max-height: calc(100% - 312px);
    }

    .footer-text {
        font-size: 16px;
    }

    .test-title {
        font-size: 24px;
        margin-right: 250px;
    }

    .title-pretest {
        font-size: 28px;
    }
}

@media (max-width: 680px) and (min-width: 425px) {
    .test-container {
        max-height: calc(100% - 312px);
    }

    .title-pretest {
        font-size: 28px;
    }

    .test-title {
        font-size: 24px;
    }

    .choice-container {
        font-size: 14px;
    }

    .test-container {
        align-items: normal;
        margin: 0 20px;
    }

    .footer-text {
        font-size: 16px;
    }
}

@media (max-width: 425px) and (min-width: 320px) {

    .test-container {
        max-height: calc(100% - 306px);
    }

    .title-pretest {
        font-size: 24px;
    }

    .test-title {
        font-size: 20px;
        margin: 0;
    }

    .choice-container {
        font-size: 14px;
    }

    .test-container {
        align-items: normal;
        margin: 0 15px;
    }

    .footer-text {
        font-size: 14px;
    }
}



/* body {
    margin: 50;
    padding: 50;
    background: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.question {
    display: none;
}

.teamsitems {
    padding: 1rem;
    background: #E5E1DA;
}

.question.active {
    display: block;
    padding: 5rem;
    background: #ffffff;
    flex: 1 0 auto;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.alert-container {
    position: absolute;
    max-width: 500px;
    max-height: 200px;
    background-color: #fff;
} */