* {
    width: 100vw;
    overflow-x: hidden;
}

.unit1-container {
    width: 85%;
    margin: 0 auto;
}

.teamsitems, .teams-items, .teams, .teams-items-details, .unit-container, .unit-title ,.unit-details, .unit-sub-title, .unit-table, .unit-sub-title-1,.unit-sub-title-2 ,.image-center{
    width: 100%;
}

.unit-container {
    padding: 2rem;
}

.unit-title-container {
    background-color: #CDF5FD;
}

.unit-sub-container, .unit-sub-title-container {
    background-color: #FBF9F1;
}

.unit-details {
    font-size: 18px;
    height: max-content;
    margin: 0;
}

.main-container {
    padding: 2rem;
}

.unit-title {
    font-size: 38px;
    font-weight: 700;
}

.unit-sub-title {
    font-size: 36px;
    font-weight: 600;
}

.unit-sub-title-1 {
    font-size: 34px;
    font-weight: 500;
}
.unit-sub-title-2 {
    font-size: 30px;
    font-weight: 400;
}

.unit-table {
    width: 100%;
    margin: 10px;
}

.unit-table, th, td {
    border: 1px solid black;
    background-color: white;
}

th, td {
    text-align: center;
    padding: 5px;
}

.table-left {
    text-align: start;
}

.image-air {
    width: 200px;
    height: 200px;
}

.image-icon-air {
    width: 100px;
    height: 100px;
}

.image-service {
    width: 300px;
    height: 300px;
}

.image-center {
    display: flex;
    justify-content: center;
}

.image-service-table, .image-val-3-2 {
    width: 300px;
    height: 200px;
}

.image-service-icon, .w200h150 {
    width: 200px;
    height: 150px;
}

.image-single-table {
    width: 400px;
    height: 150px;
}

.image-single-structure-table, .image-double-structure-table {
    width: 300px;
    height: 200px;
}

.image-spring-back-table, .image-spring-table {
    width: 200px;
    height: 100px;
}

.image-single-work-table, .image-double-work-table {
    width: 250px;
    height: 250px;
}

.image-double-table, .w400h200, .w400h200 {
    width: 400px;
    height: 150px;
}

.image-double-icon-table {
    width: 300px;
    height: 150px;
}

.w80h80 {
    width: 80px;
    height: 80px;
}

.w100h50 {
    width: 100px;
    height: 50px;
}

.w250h150, .w250h350, .w250h200 {
    width: 250px;
    height: 150px;
}

.w250h350 {
    height: 350px;
}

.w250h200 {
    height: 200px;
}

.w400h200 {
    height: 200px;
}

.w350h200 {
    width: 350px;
    height: 200px;
}

.w150h75, .w150h100 {
    width: 150px;
    height: 75px;
}

.w300h250 {
    width: 350px;
    height: 250px;
}

.w150h100 {
    height: 100px;
}

.w225h125 {
    width: 225px;
    height: 125px;
}

.w175h175 {
    width: 175px;
    height: 175px;
}

.w270h220 {
    width: 270px;
    height: 220px;
}

.w220h220 {
    width: 220px;
    height: 220px;
}

.video-contanier {
    display: flex;
    justify-content: center;
}

.unit-video {
    width:750px ;
    height:675px;
}

@media (max-width: 768px) and (min-width:575px) {
    .unit-title {
        font-size: 30px;
    }

    .unit-sub-title {
        font-size: 28px;
    }

    .unit-sub-title-1 {
        font-size: 26px;
    }

    .unit-sub-title-2 {
        font-size: 24px;
    }

    .unit-details {
        font-size: 16px;
        font-weight:400;
    }

    .image-air {
        width: 150px;
        height: 150px;
    }
    .image-service {
        width: 250px;
        height: 250px;
    }
    .image-service-table {
        width: 250px;
        height: 150px;
    }
    .image-service-icon {
        width: 150px;
        height: 100px;
    }
    .image-single-table, .image-single-structure-table {
        width: 250px;
        height: 100px;
    }
    .image-spring-back-table, .image-spring-table {
        width: 150px;
        height: 75px;
    }

    .image-single-structure-table, .image-single-work-table {
        width: 200px;
        height: 200px;
    }
    .image-double-table {
        width: 300px;
        height: 150px;
    }
    .image-double-structure-table {
        width: 200px;
        height: 150px;
    }
    .image-double-icon-table {
        width: 200px;
        height: 100px;
    }
    .image-double-work-table {
        width: 200px;
        height: 200px;
    }
    .w100h50 {
        width: 100px;
        height: 50px;
    }
    .image-val-3-2 {
        width: 200px;
        height: 150px;
    }
    .w250h200 {
        width: 200px;
        height: 150px;
    }
    .w400h200 {
        width: 300px;
        height: 200px;
    }
    .w350h200 {
        width: 250px;
        height: 150px;
    }
    .w300h250 {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 575px) and (min-width:425px) {
    .unit-container {
        padding: 1rem;
    }

    .unit-title {
        font-size: 28px;
    }

    .unit-sub-title {
        font-size: 26px;
    }

    .unit-sub-title-1 {
        font-size: 24px;
    }

    .unit-sub-title-2 {
        font-size: 22px;
    }

    .unit-details {
        font-size: 14px;
        font-weight:400;
    }

    .image-air {
        width: 125px;
        height: 125px;
    }
    .image-service {
        width: 200px;
        height: 200px;
    }
    .image-service-table {
        width: 200px;
        height: 100px;
    }
    .image-service-icon {
        width: 125px;
        height: 75px;
    }
    .image-single-table, .image-single-structure-table {
        width: 200px;
        height: 75px;
    }
    .image-spring-back-table, .image-spring-table {
        width: 120px;
        height: 65px;
    }

    .image-single-structure-table, .image-single-work-table {
        width: 150px;
        height: 150px;
    }
    .image-double-table {
        width: 225px;
        height: 125px;
    }
    .image-double-structure-table {
        width: 200px;
        height: 150px;
    }
    .image-double-icon-table {
        width: 200px;
        height: 100px;
    }
    .image-double-work-table {
        width: 200px;
        height: 200px;
    }
    .w100h50 {
        width: 100px;
        height: 50px;
    }
    .image-val-3-2 {
        width: 200px;
        height: 150px;
    }
    .w250h200 {
        width: 200px;
        height: 150px;
    }
    .w400h200 {
        width: 300px;
        height: 200px;
    }
    .w350h200 {
        width: 250px;
        height: 150px;
    }
    .w300h250 {
        width: 250px;
        height: 150px;
    }
}